
/* https://jqueryui.com/tabs/#vertical */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/* https://jqueryui.com/accordion/#sortable */
.group { zoom: 1 }

.ui-accordion-content { padding: 0.5em 0.5em ! important; }
.ui-accordion-header { padding: 2px 2px 2px 1.5em ! important; }

.errMsg { font-size: 0.6em; border: solid 1px red; }

.dbgMsg { font-size: 0.6em; border: solid 1px blue; }

#image-pane  { padding: 0px ! important; }
#image-pane img { max-width: 100%; max-height:100%; }

/* #image-pane .ui-button{ display : none; } */    
#image-pane .ui-button { font-size: 0.5em ! important; background: yellow; border: solid 2px blue; padding: 0px ! important; position:absolute;  bottom:0; right:0; }
