
/* https://jqueryui.com/tabs/#vertical */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/* https://jqueryui.com/accordion/#sortable */
.group { zoom: 1 }

.ui-accordion-content { padding: 0.5em 0.5em ! important; }
.ui-accordion-header { padding: 2px 2px 2px 1.5em ! important; }

.errMsg { font-size: 0.6em; border: solid 1px red; }

.dbgMsg { font-size: 0.6em; border: solid 1px blue; }

#image-pane  { padding: 0px ! important; }
#image-pane img { max-width: 100%; max-height:100%; }

code {
    background-color: rgb(236, 254, 252);
    padding: 3px;
    display: inline-block;
}

/* Credit button styling */
.cred-button { font-size: 0.5em ! important; background: yellow; border: solid 2px blue; padding: 0px ! important; }
/* Floating lower-right button: https://stackoverflow.com/a/3956058 */
.cred-button { position:absolute;  bottom:0; right:0; }
/* image container no larger than image: https://stackoverflow.com/a/3917059 */
.cred-p { position:relative; display: inline-block; }

.room-button {
    background-color: rgb(150, 255, 150);
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid rgb(209, 8, 199);
    padding: 0px 5px;
}

/* Highlight links that open outside the game https://stackoverflow.com/a/18168287 */
/* Icon from Wikipedia: https://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png */
.ext-lnk:after { content: url(images/Icon_External_Link.png); margin: 0 0 0 5px; }

#menugear { top: 0; left: 0; position: absolute }
.damenu { top: 2; left: 2; position: absolute; font-size: 0.7em}
#mdsource { display: none; top: 10; left: 1%; width:98%; position: absolute; background-color: #ddd; border: 2px solid #040; }
#mdsource pre { color: brown; font-size: 0.8em; padding: 3px; background-color: #eee;}
#mdsrcclose { background: red; width: 2em; font-size: 0.5em; }